{% extends "blog/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}

	<div class="col-md-12">
    <div class="card-shadow-primary card-border mb-3 card">
      <div class="dropdown-menu-header">
        <div class="dropdown-menu-header-inner bg-primary">
          <div class="menu-header-image" style="background-image: url({% static 'assets/images/dropdown-header/city2.jpg' %});"></div>
          <div class="menu-header-content">
            <div class="avatar-icon-wrapper avatar-icon-lg">
              <div class="avatar-icon rounded btn-hover-shine"><img src="{% static 'assets/images/avatars/12.jpg' %}" alt="Avatar 5"></div>
            </div>
            <div><h5 class="menu-header-title">{{ users.username }}</h5></div>
          </div>
        </div>
      </div>
      <div class="scroll-area-sm">
        <div class="scrollbar-container ps ps--active-y">
          <ul class="list-group list-group-flush">
            <div class="row">
              <li class=" col-md-6 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> {{ users.first_name }} </div>
                    </div>                  
                  </div>
                </div>
              </li>

              <li class="col-md-6 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> {{ users.last_name }} </div>
                    </div>                  
                  </div>
                </div>
              </li>

              <li class="col-md-6 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> {{ users.email }} </div>
                    </div>                  
                  </div>
                </div>
              </li>

              <li class="col-md-6 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> {{ profile.phone_number }} </div>
                    </div>                  
                  </div>
                </div>
              </li>

              <li class="col-md-12 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> {{ profile.address }} </div>
                    </div>                  
                  </div>
                </div>
              </li>

              <li class="col-md-12 list-group-item">
                <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-down-circle text-muted fsize-2"></i></div>
                    <div class="widget-content-left">
                      <div class="widget-heading"> Mening postlarim </div>
                    </div>                  
                  </div>
                </div>
              </li>

              {% for post in my_posts %}
                
                <li class="col-md-6 list-group-item">
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left center-elem mr-2"><i class="pe-7s-angle-right-circle text-muted fsize-2"></i></div>
                      <div class="widget-content-left">
                        <div class="widget-heading"> {{ post.title }} </div>
                      </div>
                      <div class="widget-content-right widget-content-actions">
                        <a href="{{ post.get_absolute_url }}" class="mr-1 btn-icon btn-icon-only btn btn-primary btn-lg">
                          <i class="pe-7s-file btn-icon-wrapper"> </i>
                          Batafsil...
                        </a>
                      </div>             
                    </div>
                  </div>
                </li>
              {% endfor %}

          </ul>
          <div class="ps__rail-x" style="left: 0px; bottom: -129px;">
            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
          </div>
          <div class="ps__rail-y" style="top: 129px; height: 200px; right: 0px;">
            <div class="ps__thumb-y" tabindex="0" style="top: 79px; height: 121px;"></div></div>
          </div>
        </div>
        <div class="text-center d-block card-footer">
          <a href="{% url 'edit'%}" class="mr-2 border-0 btn-transition btn btn-outline-danger">Edit profile</a>
  		    <a href="{% url 'password_change'%} " class="border-0 btn-transition btn btn-outline-success">Change password</a>

          <a href="{% url 'blog:create_post'%} " class="border-0 btn-transition btn btn-outline-primary">Post yaratish</a>
        </div>
      </div>
    </div>

{% endblock %}
