{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Shaxsiy sahifam {% endblock %}

{% block mypost %}
  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="#" class="btn btn-primary" style="color: black;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form action method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="card-body">
            {{ user_form.non_field_errors }}
            <div class="row">
              <div class="col-md-6 position-relative form-group">
                {{ user_form.first_name.errors }}
                <label for="{{ user_form.first_name.id_for_label }}">First name</label>
                <input type="text" name="first_name" value="{{ user_form.first_name.value }}" maxlength="250" required id="{{ user_form.first_name.id_for_input }}" class="form-control">
              </div>
              <div class="col-md-6 position-relative form-group">
                {{ user_form.last_name.errors }}
                <label for="{{ user_form.last_name.id_for_label }}">Last name</label>
                <input type="text" name="last_name" value="{{ user_form.last_name.value }}" maxlength="250" required id="{{ user_form.last_name.id_for_input }}" class="form-control">
              </div>
              <div class="col-md-6 position-relative form-group">
                {{ user_form.email.errors }}
                <label for="{{ user_form.email.id_for_label }}">Email address</label>
                <input type="text" name="email" value="{{ user_form.email.value }}"  maxlength="250" required id="{{ user_form.email.id_for_input }}" class="form-control">
              </div>
              <div class="col-md-6 position-relative form-group">
                {{ profile_form.phone_number.errors }}
                <label for="{{ profile_form.phone_number.id_for_label }}">Phone number</label>
                <input type="text" name="phone_number" value="{{ profile_form.phone_number.value }}"  maxlength="250" required id="{{ profile_form.phone_number.id_for_input }}" class="form-control">
              </div>
              <div class="col-md-12 position-relative form-group">
                {{ profile_form.address.errors }}
                <label for="{{ profile_form.address.id_for_label }}">Address</label>
                <input type="text" name="address" value="{{ profile_form.address.value }}"  maxlength="250" required id="{{ profile_form.address.id_for_input }}" class="form-control">
              </div>
            </div>
          </div>

          <div class="divider"></div>
          <div class="clearfix text-center">
            <button type="submit" class="btn-shadow btn-wide btn-pill btn-hover-shine btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}