{% extends "index_reg.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

	<div class="h5 modal-title text-center">
        <h4 class="mt-2">
            <div><h1>Welcome {{ new_user.first_name }}!</h1></div>
            <span>Your account has been successfully created. Now you can</span>
        </h4>
    </div>

    <div class="modal-footer clearfix">
        <div class="float-right">
       		<a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                Login
            </a>
        </div>
    </div>
{% endblock %}