{% extends "index_reg.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
        
        <form action="{% url 'login' %}" method="post" class="">
            {% csrf_token %}
            <div class="modal-body">
                <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                        <div>Welcome back,</div>
                        <span>Please sign in to your account below.</span>
                    </h4>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="username" id="exampleEmail" placeholder="Username here..." required class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="position-relative form-group">
                            <input name="password" id="examplePassword" placeholder="Password here..." type="password" required class="form-control">
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <h6 class="mb-0">No account?
                    <a href="{% url 'register' %}" class="text-primary">
                        Sign up now
                    </a>
                </h6>
            </div>
            <div class="modal-footer clearfix">
                <div class="float-right">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Login to Dashboard
                    </button>
                    <a href="{% url 'index:index' %}" class="btn btn-primary btn-lg">
                        Mehmon bo'lib kirish
                    </a>
                </div>
            </div>
        </form>
{% endblock %}