{% extends "index_reg.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}	
	<form action method="post" class="">
		{% csrf_token %}
		<div class="modal-body">
			<div class="h5 modal-title text-center">
            	<h4 class="mt-2">
                	<div><h1>Change you password</h1></div>
                    <span>Use the form below to change your password.</span>
                </h4>
            </div>
            <div class="form-row">
            	<div class="col-md-12">
                	<div class="position-relative form-group">
                    	<input name="old_password" autocomplete="current-password" id="id_old_password" placeholder="Old password here..." type="password" autofocus required class="form-control">
					</div>
				</div>
                <ul>
                	<li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
				</ul>
                <div class="col-md-12">
                	<div class="position-relative form-group">
                    	<input name="new_password1" autocomplete="new-password" id="id_new_password1" placeholder="New password here..." type="password" autofocus required class="form-control">
					</div>
				</div>
                <div class="col-md-12">
                	<div class="position-relative form-group">
                    	<input name="new_password2" autocomplete="new-password" id="id_new_password2" placeholder="New password confirmation..." type="password" autofocus required class="form-control">
					</div>
				</div>
			</div>
		</div>
        <div class="modal-footer clearfix">
            <div class="float-left">
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg">
                    Shaxsiy sahifaga o'tish
                </a>
            </div>
        	<div class="float-right">
            	<button type="submit" class="btn btn-primary btn-lg">
                	Change
				</button>
			</div>
		</div>
	</form>
{% endblock %}