{% extends "index_reg.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
	
	<div class="h5 modal-title text-center">
		<h4 class="mt-2">
        	<div><h1>Password changed</h1></div>
            <span>Your password has been successfully changed.</span>
        </h4>
	</div>

  	<div class="modal-footer clearfix">
        <div class="float-right">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
            	Login
            </a>
        </div>
	</div>
{% endblock %}