<nav class="pagination-rounded" aria-label="Page navigation example">
  <ul class="pagination">
    {% if page.has_previous %}
      <li class="page-item">
        <a href="?page={{page.previous_page_number}}" class="page-link" aria-label="Previous">
          <span aria-hidden="true">«</span><span class="sr-only">Previous</span>
        </a>
      </li>
    {% endif %}
    <li class="page-item active">
      <a href="javascript:void(0);" class="page-link">{{ page.number }}</a>
    </li>
    {% if page.has_next %}
      <li class="page-item">
        <a href="?page={{ page.next_page_number }}" class="page-link" aria-label="Next">
          <span aria-hidden="true">»</span><span class="sr-only">Next</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>