{% extends 'blog/base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}


{% block mypost %}

  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="#" class="btn btn-primary" style="color: black;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form action method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="card-body">
            
            <div class="position-relative form-group">
              <label for="id_title">Title</label>
              <input type="text" name="title" maxlength="250" required id="id_title" class="form-control">
            </div>
                
            <div class="position-relative form-group">
              <label for="id_body" class="col-form-label">Body</label>
              <div>
                <textarea name="body" rows="10" id="id_body" required class="form-control"></textarea>
              </div>
            </div>

            <div class="position-relative form-group">
              <label for="id_photo" class="col-form-label">Photo</label>
              <div>
                <input name="photo" id="id_photo" accept="image/*" type="file" class="form-control-file" required>
                <small class="form-text text-muted"></small>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 position-relative form-group">
                <label for="id_category">Categoriya</label>
                <select name="category" required id="id_category" class="form-control">
                  <option value selected disabled> ------- </option>
                  {% for cat in cats %}
                    <option value="{{ cat.id}}" > {{ cat.title }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 position-relative form-group">
                <label for="id_area">Area</label>
                <select name="area" required id="id_area" class="form-control">
                  <option value selected disabled> ------- </option>
                  {% for area in areas %}
                    <option value="{{area.id}}"> {{ area.title }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 position-relative form-group">
                <label for="id_status">Publish</label>
                <select name="status" id="id_status" class="form-control">
                  <option value="draft" selected> Draft </option>
                  <option value="published"> Published </option>
                </select>
              </div>
            </div>

          </div>                
          
          <div class="divider"></div>
          <div class="clearfix text-center">
            <button type="submit" class="btn-shadow btn-wide btn-pill btn-hover-shine btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}