{% extends 'blog/base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}


{% block mypost %}

  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="#" class="btn btn-primary" style="color: black;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <div class="no-results">
          <div class="swal2-icon swal2-success swal2-animate-success-icon">
            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
            <span class="swal2-success-line-tip"></span>
            <span class="swal2-success-line-long"></span>
            <div class="swal2-success-ring"></div>
            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
            <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
          </div>
          <div class="results-subtitle mt-4"> Danger!!!</div>
          <div class="results-title"> Siz haqiqatdan ham ushbu postni o'chirmoqchimisiz? </div>
          <div class="mt-3 mb-3"></div>
          <div class="text-center">
            <a href="{% url 'blog:create_post' %}" class="btn-shadow btn-wide btn btn-success btn-lg">Postga qaytish</a>
            <a href="{% url 'blog:del_post' posts.id post.id %}" class="btn-shadow btn-wide btn btn-success btn-lg"> O'chirish </a>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>
  </div>

{% endblock %}