{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block mypost %}
  
  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="{% url 'blog:create_post' %}" class="btn btn-primary" style="color: #000000;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

{% endblock %}


{% block content %}
	         <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: none;" aria-modal="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Siz haqiqatdan ham ushbu postni o'chirishni istaysizmi? O'chirilgan ma'lumotlar qayta tiklanmaydi!!!</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{% url 'blog:delete_post' post.id %}" class="btn btn-danger">O'chirish</a>
                  </div>
                </div>
              </div>
            </div>

	<div class="col-md-12">
    	<div class="main-card mb-3 card">
      		<div class="card-body">
        		<h5 class="card-title"> {{ post.title }} </h5>
      		</div>
      		<img width="100%" src="{{ post.photo.url }} " alt="Card image cap">
      		<div class="card-body">
      			<div>
		        	<div class="date" style="float:left;">
		            	{{ post.publish | date:"d.m.Y" }}
		          	</div>
		          	<div class="author" style="float:right;">
		            	{{ post.author }}
		          	</div>
		        </div>
		        <div class="mt-4 text-justify">
		        	{{ post.body }}
		        </div>
		        <p>
		        	
  				{% if user == post.author %}
            <div class="col-md-12 text-center">
              <button type="button" data-toggle="popover-custom-content" rel="popover-focus" popover-id="0" class="mr-2 mb-2 btn btn-danger" data-original-title="" title="">O'chirish</button>

        			<a href="{% url 'blog:edit_post' post.id %}"class="btn btn-info ml-5">Yangilash</a>


              <div id="popover-content-0" class="d-none">
                <div class="dropdown-menu-header">
                  <div class="dropdown-menu-header-inner bg-primary">
                    <div class="menu-header-image opacity-5" style="background-image: url('assets/images/dropdown-header/abstract2.jpg');"></div>
                    <div class="menu-header-content">
                      <h5 class="menu-header-title">WARNING!!!</h5>
                    </div>
                  </div>
                </div>
                <ul class="nav flex-column">
                  <li class="nav-item-header nav-item">Siz haqiqatdan ham</li>
                  <li class="nav-item-header nav-item">ushbu postni o'chirishni istaysizmi?</li>
                  <li class="nav-item-header nav-item">O'chirilgan ma'lumotlar </li>
                  <li class="nav-item-header nav-item">qayta tiklanmaydi!!! </li>

                  <li class="nav-item-divider nav-item"></li>
                  <li class="nav-item-btn nav-item text-center">
                    <a href="{% url 'blog:delete_post' post.id %}" class="btn-wide btn-shadow btn btn-danger btn-sm">O'chirish</a>
                  </li>
                </ul>
              </div>
            </div>

        		{% endif %}
		        </p>

      		</div>
    	</div>
  	</div>
    
{% endblock %}
