{% extends 'blog/base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}


{% block mypost %}

  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="#" class="btn btn-primary" style="color: black;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form action method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="card-body">
            {{ post_form.non_field_errors }}
            <div class="position-relative form-group">
              {{ post_form.title.errors }}
              <label for="{{ post_form.title.id_for_label }}">Title</label>
              <input type="text" name="title" value="{{ post_form.title.value }}" maxlength="250" required id="{{ post_form.title.id_for_input }}" class="form-control">
            </div>
                
            <div class="position-relative form-group">
              {{ post_form.body.errors }}
              <label for="{{ post_form.body.id_for_label }}" class="col-form-label">Body</label>
              <div>
                <textarea name="body" rows="10" id="{{ post_form.body.id_for_input }}" required class="form-control">{{ post_form.body.value }}</textarea>
              </div>
            </div>

            <div class="position-relative form-group">
              {{ post_form.photo.errors }}
              <label for="{{ post_form.photo.id_for_label }}" class="col-form-label">Photo</label>
              <div>
                {{ post_form.photo }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 position-relative form-group">
                {{ post_form.category.errors }}
                <label for="{{ post_form.category.id_for_label }}">Categoriya</label>
                <select name="category" required id="{{ post_form.category.id_for_input }}" class="form-control">
                  <option value disabled> ------- </option>
                  {% for cat in cats %}
                    
                    <option value="{{cat.id}}" {% if cat.id == post_form.category.value %} selected  {% endif %}> {{ cat.title }} </option>
                    
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 position-relative form-group">
                {{ post_form.category.errors }}
                <label for="{{ post_form.area.id_for_label }}">Area</label>
                <select name="area" required id="{{ post_form.area.id_for_input }}" class="form-control">
                  <option value disabled> ------- </option>
                  {% for area in areas %}
                    <option value="{{area.id}}" {% if area.id == post_form.area.value %} selected  {% endif %}> {{ area.title }} </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4 position-relative form-group">
                {{ post_form.status.errors }}
                <label for="{{ post_form.status.id_for_label }}">Publish</label>
                <select name="status" id="{{ post_form.status.id_for_input }}" class="form-control">
                  {% if post_form.status.value == 'draft' %}
                    <option value="draft" selected> Draft </option>
                    <option value="published"> Published </option>
                  {% else %}
                    <option value="draft"> Draft </option>
                    <option value="published" selected> Published </option>
                  {% endif %}
                </select>
              </div>
            </div>

          </div> 
          <div class="divider"></div>
          <div class="clearfix text-center">
            <button type="submit" class="btn-shadow btn-wide btn-pill btn-hover-shine btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}