{% extends 'blog/base.html' %}
{% load static %}

{% block title %} My Blog {% endblock %}


{% block mypost %}
  
  {% if request.user.is_authenticated %}
    <li>
      <a href="#">
        <i class="metismenu-icon pe-7s-plugin"></i>
        Mening postlarim
        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
      </a>
      <ul>
        {% for my_post in my_posts %}
          <li>
            <a href="{{ my_post.get_absolute_url }}">
              <i class="metismenu-icon"></i> {{ my_post.title }}
            </a>
          </li>
          {% empty %}
          <li>Sizda post mavjud emas</li>
        {% endfor %}
        <li>
          <a href="{% url 'blog:create_post' %}" class="btn btn-primary" style="color: black;">
            <i class="metismenu-icon"></i> Post yaratish
          </a>
        </li>
      </ul>
    </li>
  {% endif %}

{% endblock %}

{% block content %}
  
  {% for post in posts %}
    <div class="col-md-4">
      <div class="main-card mb-3 card">
        <img width="100%" src="{{ post.photo.url }} " alt="Card image cap" class="card-img-top">
        <div class="mt-3 ml-3 mr-3">
          <div class="date" style="float:left;">
            {{ post.publish | date:"d.m.Y" }}
          </div>
          <div class="author" style="float:right;">
            {{ post.author }}
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
          </h5>
          {{ post.body|truncatewords_html:30 }}
        </div>
        <a href="{{ post.get_absolute_url }}" class="btn btn-info">Batafsil...</a>
      </div>
    </div>
  {% endfor %}
  <div class="col-md-12 text-center">
    {% include "../pagination.html" with page=posts %}
  </div>

{% endblock %}